
<html>
  <head>
    <title> Admin: <%= @page_title || "Admin Area" %> </title>
  </head>

  <body>
    <!-- Content specific to each page goes here -->
    <%= yield %>
    <!-- content specific to each page ends here -->
  </body>

</html>
